body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  background: #eee;
  color: #111;
}

.chartBelowRange {
  border-right: 4px solid black;
  border-radius: 3px;
  position: block;
}
.chartBeloRangeCaption {
  /*   background-color: green; */
  margin-top: -50px;
}

.chartBeloRangeCaption p {
  font-weight: bolder;
  margin-top: 0px;
}

.chartWithinRange {
  position: block;
}

.chartWithinRangeCaption {
  /* background: green; */
  margin-top: -50px;
}

.chartWithinRangeCaption p {
  font-weight: bolder;
}

.chartAboveRange {
  border-left: 4px solid black;
  border-radius: 3px;
  position: block;
  /*   border-left-style: hidden; */
}

.chartAboveRangeCaption {
  /*   background: green; */
  margin-top: -50px;
}
.chartAboveRangeCaption p {
  font-weight: bolder;
}
/* body * {
  /* transition: all 0.3s ease-in-out; 
} */

.chartjs-hidden-iframe {
  height: 100% !important;
}

.container {
  background-color: #fff;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;

  -webkit-box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
}

.reportPickRange {
  margin-top: -25px;
}

/*------------- NAVIGATION BAR -------------------*/

.nav {
  position: fixed;
  z-index: 99;
  background: #fff;
  z-index: 99;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 12px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -webkit-box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
}

.nav ul {
  width: 100%;
  display: grid;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav ul:first-of-type {
  grid-template-columns: 1fr;
}
.nav ul:first-of-type li {
  font-size: 1.4rem;
  font-weight: bold;
  text-indent: 30px;
}
.nav ul:first-of-type li span {
  font-weight: 500;
  color: #444;
}

.nav ul:last-of-type {
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li a {
  color: #111;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

/*------------- HEADER -------------------*/
/* background: url("./images/photo-1525184648845-66cbe3b6c59c.jpg");
background-size: 100%;
height: 700px; */

.head {
  z-index: 2;
  display: grid;
  width: 74%;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding-top: 7%;
  align-items: center;
}

.head {
  color: #222;
}

.head h1 {
  font-size: 4rem;
  font-weight: bold;

  padding-top: 76px;
  margin: 0;
  letter-spacing: 0px;
  border-right: 2px solid #111;
}

.head p {
  padding-left: 30px;
}

.contact {
  background: rgb(0, 99, 248);
  display: block;
  color: #fff;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
}

/*------------- MAIN SECTION -------------------*/

main {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.error {
  color: rgb(255, 57, 57);
  font-size: 1.3rem;
}

footer {
  background: rgb(0, 99, 248);
  color: #fff;
  padding: 20px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

footer ul {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

footer ul li a {
  color: #eee;
}

@media (max-width: 1310px) and (min-width: 1100px) {
  .contact {
    margin-top: 10px;
  }
  header div.head {
    width: 75%;
    padding-top: 10px;
  }
  header div.head h1 {
    font-size: 4rem;
  }

  main section {
    width: 90%;
    padding: 90px 0;
    margin: 0px auto 50px auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  main section div p {
    padding: 0px 90px;
  }
}

@media (max-width: 1099px) and (min-width: 850px) {
  /* ipad pro */
  .contact {
    margin-top: 78px;
  }
  header {
    height: 0px;
    background-position: bottom;
  }

  .Jumbotron-report {
    padding-top: "10px";
  }
  .chartjs-render-monitor {
    height: 70%;
  }
  .head {
    width: 70%;
    padding-top: 5%;
    height: 50%;
    grid-template-columns: 1fr;
  }
  .head h1 {
    font-size: 3rem;
    border-right-style: hidden;
  }
  main section:first-of-type {
    margin-top: 400px;
  }

  main section div p {
    padding: 0px 90px;
  }

  .services p.service-icon {
    font-size: 2.4rem;
    padding: 10px 30px;
    margin: 0px 0px 30px 0px;
  }
  .services p.service-title {
    font-size: 2.1rem;
    padding: 0;
    margin: 0;
  }

  .services p:last-of-type {
    padding: 0px 20px;
    text-align: left;
  }

  .gallery {
    height: 420px;
  }
}

@media (max-width: 849px) and (min-width: 600px) {
  /* for i pad screen  */
  .contact {
    margin-top: 80px;
  }
  header {
    height: 0px;
  }
  .head {
    width: 75%;
    padding-top: 0px;
    grid-template-columns: 1fr;
  }
  .Jumbotron {
    padding-top: 10px;
  }

  .head h1 {
    font-size: 3rem;
    border-right: 2px solid #111;
    border-right-style: hidden;
  }
}

@media (max-width: 599px) and (min-width: 0px) {
  /*   galexy screen */
  .contact {
    margin-top: 20px;
  }
  .chartBelowRange {
    border-right-style: hidden;
    border-radius: 3px;

    /* border: 1px solid red; */
    margin-top: 22px;
  }
  .chartBelowRangeCaption {
    margin-top: 0px;
    z-index: 2;
    /* border: 1px solid red; */
  }
  .chartBelowRange p {
    border-bottom: 1px solid black;
  }

  .chartBelowRangeCaption p {
    border-bottom: 1px solid black;
  }

  .chartWithinRange {
    position: block;
    /*  background-color: gray; */
    margin-top: 60px;
  }

  .chartAboveRange {
    border-left-style: hidden;
    border-radius: 3px;
    position: block;
    margin-top: 60px;

    /*   border-left-style: hidden; */
  }
  .chartAboveRange p {
    border-bottom: 1px solid black;
  }
  .chartWithinRange p {
    border-bottom: 1px solid black;
  }

  .reportPickRange {
    /*  border: 1px solid red; */
    margin-top: 25px;
  }

  .nav {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  .nav ul {
    margin-bottom: 10px;
  }
  .nav ul:first-of-type {
    border-bottom: 1px solid #111;
    padding-bottom: 10px;
  }

  .nav ul:last-of-type li {
    text-align: center;
    width: 100%;
    padding-top: 10px;
  }

  header {
    background-size: 160%;
    height: 0px;
    position: relative;
  }

  .head {
    width: 75%;
    grid-template-columns: 1fr;
    padding-top: 0px;
  }
  .head h1 {
    font-size: 2.3rem;
    border: none;
    border-right: "none";
  }

  .head p {
    padding-left: 0px;
  }

  main section:first-of-type {
    margin-top: 390px;
  }

  main section {
    width: 90%;
    padding: 10px 0;
    margin: 50px auto 0px auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  main section div p {
    padding: 0px 10px;
  }

  div.services {
    display: grid;
    grid-template-columns: 1fr;
  }
  div.services div {
    width: 80%;
  }

  .services p.service-icon {
    font-size: 2.4rem;
    padding: 10px 30px;
    margin: 0px 0px 30px 0px;
  }
  .services p.service-title {
    font-size: 2.1rem;
    padding: 0;
    margin: 0;
  }

  .services p:last-of-type {
    padding: 0px 20px;
    text-align: left;
  }

  .gallery {
    grid-template-columns: 1fr;
    height: auto;
    margin: 30px auto 0px auto;
  }
  .gallery div {
    height: 200px;
  }

  .gallery div.gallery-item-one {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }

  main section form div label {
    margin-right: 10px;
    border-radius: 5px;
  }

  main section form div:last-of-type input {
    padding: 10px;
    border-radius: 5px;
  }
  footer {
    padding: 20px 0;
    text-align: center;
    grid-template-columns: 1fr;
  }
  footer ul li a {
    font-size: 1.8rem;
  }
}
